<h1>Welcome</h1>

<b><font size="+2"><%=  link_to "Sign up", signup_path %></font></b>

OR

<b><font size="+2"><%= link_to "Log in", login_path %></font></b>

OR

<b><font size="+2"><%= link_to "Sign in Through Facebook", '/auth/facebook' %></font></b>
